@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    
    
}
.root, h1{
    color: white;
    
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5%, 5%;
    text-transform: capitalize;
}
.header, nav{
    
    padding-right: 60px;
}
.header li, a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
}
li,a:hover{
    color: #0A8CBF;
}
#logo-image{
    display: block;
    width: 100%;

}
#image-link-tag{
    padding-left: 60px;
    display: block;
    width: 300px;
}
.main-video{
    display: block;
    width: 100%;
}

#line{
    display: block;
    height: 60px;
    background-color: #0A8CBF;
}
#line2{
    margin-top:  60px;
    margin-bottom: 60px;
    display: block;
    height: 60px;
    background-color: #0A8CBF; 
}
#valhalla{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 100%;
    max-height: 100%;
}
#valhalla-text{
    padding-top: 30px;
    text-align: center;
    max-width: 60%;
    margin: auto;
    
}

.features-info-box h2{
    border:#0A8CBF;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 35px 35px 35px 35px;
    text-align: center;
    line-height: 1.5;
    font-size: 2.5rem;
    
}

.box-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:flex-start;
    justify-content: center;

}

.features-info{
    padding: 20px;
    width: 550px;
    
}
.features-info-text, li{
    list-style: none;
    color: white;
    font-size:1.3rem;
    
}
.features-info-text ul li::before{
    content: "\2022";
    color:#0A8CBF;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    align-self: center;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -1em;
}
.features-info-box{
    margin-bottom: 20px;
}

.learn-more-button {
    display: flex;
    margin-bottom: 60px;

}
.learn-more-button a{
    align-self: center;
    text-align: center;
    font-size: 1.3em;
    color: white;
    border: #0A8CBF;
    border-style: solid;
    border-radius: 6px;
    width: 200px;
    background: #0A8CBF;
    margin: auto;
    margin-top: 20px;
}
.loki{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}
.loki-image{ 
    text-align: center;
}


.loki-text-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60%;
    margin: auto;
}

.loki-text{
    padding-top: 30px;
    text-align: center;
    align-self: center;
    max-width: 60%;
    margin: auto;
}
.loki-type-container{
    display: flex;
    flex-direction: row;
    
    align-items:flex-start;
    justify-content: center;


}

.loki-type-container-col{
    width: 300px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

#tier1{
    margin-top: 20px;
    font-size: 3em;
    color: #3BA7EC;
    text-align: center;
}
#tier2{
    margin-top: 20px;
    font-size: 3em;
    color: #5DDE00;
    text-align: center;
}
#tier3{
    margin-top: 20px;
    font-size: 3em;
    color: #E21A20;
    text-align: center;
}
.tier-text{
    margin: 20px;
    font-size: 2em;
    color: white;
    text-align: center;
}




@media only screen and (max-width: 1060px){
    #valhalla-text{
        max-width: 80%;
    }
    #valhalla, img{
        margin: auto;
        width: 80%;
        
    }

    li, a{
        font-size: 1rem;
    }

    #image-link-tag{
        padding-left: 30px;
        display: block;
        width: 150px;
    }
    .header, nav{
        padding-right: 30px;
    }
}