@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.root {
    width: 100%;
}

.root,
h1 {
    color: white;

}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5%, 5%;
    text-transform: capitalize;
    align-items: center;
}

.header,
nav {

    margin-right: 3.75em;
}

.header li,
a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}

li,
a:hover {
    color: #3BA7EC;
}

#logo-image {

    width: 60%;
    height: auto;
}

#image-link-tag {
    margin-left: 60px;
    display: block;
    width: 400px;
    padding: 1rem 1rem 0 1rem ;
}

#top {
    width: 100%;
}

.main-video {
    display: block;
    width: 75%;
    margin: auto;
    object-fit: cover;
}

#line {
    display: block;
    height: 7.5rem;
    background-color: #3BA7EC;
}

#line2 {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    height: 7.5rem;
    background-color: #3BA7EC;
}

#valhalla {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

#valhalla-text {
    margin-top: 30px;
    text-align: center;
    max-width: 60%;
    margin: auto;

}
#valhalla-image{
    width: 25%;
    margin-bottom: 30px;
}
.features-info-box h2 {
    border: #0A8CBF;
    border-style: solid;
    border-width: .2rem;
    border-radius: 30px;
    padding: 35px 35px 35px 35px;
    text-align: center;
    line-height: 1.5em;
    font-size: 2.5rem;

}

.box-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

}

.features-info {
    margin: 20px;
    width: 550px;

}

.features-info-text,
li {
    list-style: none;
    color: white;
    font-size: 1.3rem;

}

.features-info-text ul li::before {
    content: "\2022";
    color: #3BA7EC;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    align-self: center;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -1em;
}

.features-info-box {
    margin-bottom: 20px;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.learn-more-button {
    display: flex;
    margin-bottom: 60px;

}

.learn-more-button a {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border: #3BA7EC;
    border-style: solid;
    border-radius: 6px;
    width: 200px;
    background: #3BA7EC;
    margin: auto;
    margin-top: 20px;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}


.loki {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.loki-image {
    text-align: center;
    width: 50%;
}


.loki-text-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60%;
    margin: auto;
    
}

.loki-text {
    padding-top: 30px;
    text-align: center;
    align-self: center;
    max-width: 60%;
    margin: auto;
}

.loki-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.loki-type-container-col {
    width: 300px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

#tier1 {
    margin-top: 20px;
    font-size: 3em;
    color: #3BA7EC;
    text-align: center;
}

#tier2 {
    margin-top: 20px;
    font-size: 3em;
    color: #5DDE00;
    text-align: center;
}

#tier3 {
    margin-top: 20px;
    font-size: 3em;
    color: #E21A20;
    text-align: center;
}

.tier-text {
    margin: 20px;
    font-size: 2rem;
    color: white;
    text-align: center;
}

#vid2 {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 800px;
    object-fit: cover;
    width: 100%;
}

#vid2-text {
    font-size: 3em;
    text-align: center;
    margin-top: -500px;
}

#vid2-text2 {
    text-align: center;
   
}

.our-games-container {
    padding-top: 500px;
    display: flex;
    flex-direction: row;
    height: 1000px;
    background-color: #3BA7EC;
    justify-content: center;

}

#etg {
    text-align: center;
    background-color: #3BA7EC;
    margin-right: 60px;
}

#etg-icon {
    background-color: #3BA7EC;
}

#etg-image {
    background-color: #3BA7EC;
}

#etg :hover~#etg-text {
    color: #000000;
}

#ltms {
    text-align: center;
    background-color: #3BA7EC;
    margin-left: 60px;
}

#ltms-icon {
    background-color: #3BA7EC;
}

#ltms-image {
    background-color: #3BA7EC;
}

#etg-text {
    font-size: 2rem;
    background-color: #3BA7EC;
}

#ltms-text {
    font-size: 2rem;
    background-color: #3BA7EC;
}

#ltms :hover~#ltms-text {
    color: #000000;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

#foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#copywrite-text {
    justify-content: center;
    margin-bottom: 1rem;
}

#foot-icon {
    margin: 100px;
    width: 25%;
    align-self: center;
}

#address-text {
    text-align: left;
    align-self: center;
    width: 30%;
    font-size: 1.25rem;
    line-height:100%;
    
}

#links-text2 {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    margin-right: 200px;
    width: 20%;
}

#links-text {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    width: 20%;
}



@media only screen and (min-width: 320px) and (max-width: 479px) {
    .header nav {
        display: none;
    }

    #valhalla-image {
        width: 50%;
    }

    #valhalla-text {
        margin-top: 30px;
        max-width: 90%;
    }

    .box-container {
        flex-direction: column;
    }

    .features-info-box h2 {
        padding: 5px 5px 5px 5px;
        font-size: 1.5rem;
    }

    .features-info {
        width: 90%;

    }

    .loki {
        width: 60%;
    }

    .loki-text-container {
        width: 90%;
    }

    .loki-type-container {
        flex-direction: column;
        align-items: center;
    }

    .loki-type-container-col {
        margin: 0;
        margin-bottom: 60px;
    }

    .our-games-container {
        flex-direction: column;
        padding-top: 150px;
        align-self: center;
        height: fit-content;
        padding-bottom: 60px;
        margin-bottom: 60px;
    }

    #etg-icon,
    #etg-image {
        width: 75%;
    }

    #etg {
        margin: 0;
        padding-top: 40px;
    }

    #ltms {
        margin: 0;
        padding-top: 40px;
    }

    #ltms-icon,
    #ltms-image {
        width: 75%;
    }

    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header nav {
        display: none;
    }

    #logo-image {
        width: 50%;
    }

    #valhalla-image {
        width: 50%;
    }

    #valhalla-text {
        margin-top: 30px;
        max-width: 90%;
    }

    .box-container {
        flex-direction: column;
    }

    .features-info-box h2 {
        padding: 5px 5px 5px 5px;
        font-size: 2rem;
    }

    .features-info {
        width: 90%;

    }

    .learn-more-button a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .loki {
        width: 60%;
    }

    .loki-text-container {
        width: 90%;
    }

    .loki-type-container {
        flex-direction: column;
        align-items: center;

    }

    .loki-type-container-col {
        margin: 0;
        margin-bottom: 60px;
    }

    .our-games-container {
        flex-direction: column;
        padding-top: 150px;
        align-self: center;
        height: fit-content;
        padding-bottom: 60px;
    }

    #etg-icon,
    #etg-image {
        width: 75%;
    }

    #etg {
        margin: 0;
        padding-top: 40px;
    }

    #ltms {
        margin: 0;
        padding-top: 40px;
    }

    #ltms-icon,
    #ltms-image {
        width: 75%;
    }

    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .header nav {
        display: none;
    }

    #valhalla-image {
        width: 50%;
    }

    #valhalla-text {
        margin-top: 30px;
        max-width: 90%;
    }

    .box-container {
        flex-direction: column;
    }

    .features-info-box h2 {
        padding: 5px 5px 5px 5px;
        font-size: 2rem;
    }

    .features-info {
        width: 90%;

    }

    .learn-more-button a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .loki {
        width: 60%;
    }

    .loki-text-container {
        width: 90%;
    }

    .loki-type-container {
        flex-direction: column;
        align-items: center;

    }

    .loki-type-container-col {
        margin: 0;
        margin-bottom: 60px;
    }

    .our-games-container {
        flex-direction: column;
        padding-top: 150px;
        align-self: center;
        height: fit-content;
        padding-bottom: 60px;
    }

    #etg-icon,
    #etg-image {
        width: 75%;
    }

    #etg {
        margin: 0;
        padding-top: 40px;
    }

    #ltms {
        margin: 0;
        padding-top: 40px;
    }

    #ltms-icon,
    #ltms-image {
        width: 75%;
    }

    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1350px) {
    .header, nav{
        margin-right: 0;
    }
    .header li,
    a {
    font-size: 1rem;
    }
   
    .learn-more-button a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .features-info-box h2 {
        
        font-size: 2rem;
    }
}

