@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.background-image-container {
    background-image: url("Assets/careers-img/Header_Careers.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

#get-to-know-us {
    display: flex;
    justify-content: center;
    height: 450px;
    align-items: center;
}

#get-to-know-us-h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4em;
    color: white;
    padding-bottom: 100px;
}

.header {
    width: 100%;
    background-color: #000000;
    
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5%, 5%;
    text-transform: capitalize;
    align-items: center;
}

.header,
nav {

    margin-right: 3.75rem;
}
.nav-a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}
.header li{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}

li,
a:hover {
    color: #3BA7EC;
}

#logo-image {

    width: 60%;
    height: auto;
}

#image-link-tag {
    margin-left: 60px;
    display: block;
    width: 400px;
    padding: 1rem 1rem 0 1rem ;
    margin: 20px 20px;
}

.main-container {
    background-color: #000000;
    color: white;

}


.inovation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

#inovation-title {
    padding-top: 60px;
    text-transform: uppercase;
    font-weight: 200;
    align-items: center;
}

.inovation-text {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    padding-bottom: 60px;
    width: 80%;
    margin-bottom: 60px;
}

.inovation-text p {
    align-self: flex-start;
    font-size: 1.5em;
    padding-left: 20%;
}

.career-type-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.career-type-1{
    align-items: center;
}
.software-h1 {
    text-align: center;
    background-color: white;
    color: #000000;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;

}

#software-text {
    background-color: #7A7A7A;
    font-size: 1.2rem;
    line-height: 1.8;
    padding-left: 10px;
    padding-bottom: 40px;
    height: 310px;
    text-align: left;
}

#software-link {

    text-decoration: none;
    background-color: white;
    color: #000000;
    text-align: center;
}

#software-link :hover {
    background-color: #b9b9b9;
    border-radius: 0px 0px 10px 10px;

}

.software-h1-bottom {
    background-color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height:60px;
    border-radius: 0px 0px 10px 10px;
}

/* ----------------*/

.studio-h1 {
    text-align: center;
    background-color: #6EC1E4;
    color: white;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
}

#studio-text {
    background-color: #164659;
    font-size: 1.2rem;
    line-height: 1.8;
    padding-left: 10px;
    padding-bottom: 40px;
    height: 310px;
    text-align: left;
}

#studio-link {
    text-decoration: none;
    color: white;
    text-align: center;

}

#studio-link :hover {
    background-color: #236c89;
    color: white;
    border-radius: 0px 0px 10px 10px;

}

.studio-h1-bottom {
    background-color: #6EC1E4;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height:60px;
    border-radius: 0px 0px 10px 10px;

}


.testing-h1 {
    text-align: center;
    background-color: #7A7A7A;
    color: white;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
}

#testing-text {
    background-color: #54595F;
    font-size: 1.2rem;
    line-height: 1.8;
    padding-left: 10px;
    padding-bottom: 40px;
    height: 310px;
    text-align: left;
}

#testing-link {
    text-decoration: none;
    color: white;
    text-align: center;

}

#testing-link :hover {
    background-color: #3a3a3a;
    color: white;
    border-radius: 0px 0px 10px 10px;

}

.testing-h1-bottom {
    background-color: #7A7A7A;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height:60px;
    border-radius: 0px 0px 10px 10px;

}
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;


}

#foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#copywrite-text {
    justify-content: center;
    margin-bottom: 1rem;
}

#foot-icon {
    margin: 100px;
    width: 25%;
    align-self: center;
}

#address-text {
    text-align: left;
    align-self: center;
    width: 30%;
    font-size: 1.25rem;
    line-height:100%;
}

#links-text2 {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    margin-right: 200px;
    width: 20%;
}

#links-text {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    width: 20%;
}
#links-text > a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}
#links-text2 > a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}




@media only screen and (min-width: 320px) and (max-width: 479px){
    .header nav {
        display: none;
    }
    #image-link-tag{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .career-type-container{
        grid-template-columns: 100%;
    }
    #get-to-know-us{
        height: auto;
    }
    #get-to-know-us-h1 {
        font-size: 4em;
        padding-top: 115px;
        padding-bottom: 0;
        
    }
    .inovation-text{
        margin-left: 15px;
    }
    .inovation-text p{
        padding-left: 15px;
        width: 100%;
    }
    .career-type-1 img{
        width: 100%;
    }
    .career-type-container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .career-type-1{
        margin-bottom: 60px;
    }
    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .header nav {
        display: none;
    }
    .career-type-container{
        grid-template-columns: 100%;
    }
    #image-link-tag{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #get-to-know-us{
        height: auto;
    }
    #get-to-know-us-h1 {
        font-size: 4em;
        padding-top: 180px;
        padding-bottom: 0;
        
    }
    .inovation-text{
        display: block;
        width: 90%;
        margin-right: 15px;
        margin: 0;
    }

    .inovation-text p{
        padding-left: 15px;
        margin-right: 0;
        width: 100%;
    }
    .career-type-1 img{
        width: 80%;
    }
    .career-type-container{
        margin-left: 25px;
        margin-right: 25px;
    }
    .career-type-1{
        margin-bottom: 60px;
    }
    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
    #software-text{
        height: 250px;
    }
    #studio-text{
        height: 250px;
    }
    #testing-text{
        height: 250px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1100px){
    .header nav {
        display: none;
    }
    .career-type-container{
        grid-template-columns: 100%;
        width: 80%;
        text-align: center;
    }
    #image-link-tag{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #get-to-know-us{
        height: auto;
    }
    #get-to-know-us-h1 {
        font-size: 4em;
        padding-top: 280px;
        padding-bottom: 0;
        
    }
    .inovation-text{
        display: block;
        width: 90%;
        margin-right: 15px;
        margin: 0;
    }
    .inovation-text1{
        padding-right: 15px;
    }
    .inovation-text p{
        padding-left: 15px;
        margin-right: 0;
        width: 100%;
    }
    .career-type-1 img{
        width: 75%;
    }
    .career-type-container{
        width:auto
    }
    .career-type-1{
        margin-bottom: 60px;
    }
    #foot-icon {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    #address-text,
    #links-text,
    #links-text2 {
        width: 90%;
        text-align: center;
        line-height: .7;
        margin-top: 20px;
    }

    #links-text2 {
        margin: 0;
    }

    #copywrite-text {
        margin-top: 15px;
        font-size: 0.75rem;
    }
    #software-text{
        height: 250px;
    }
    #studio-text{
        height: 250px;
    }
    #testing-text{
        height: 250px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1260px){
    .inovation-text{
        display: block;
        width: 90%;
        margin-right: 15px;
        margin: 0;
    }
    .career-type-1 img{
        width: 75%;
    }
    #inovation-text1{
        padding-left: 60px;
    }
    #software-text{
        height:350px;
    }
    #studio-text{
        height: 350px;
    }
    #testing-text{
        height: 350px;
    }
}