@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.header {
    width: 100%;
    background-color: black;
    opacity: 90%;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5%, 5%;
    text-transform: capitalize;
}

.header,
nav {

    margin-right: 60px;
}

.header li,
a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}

li,
a:hover {
    color: #0A8CBF;
}

#logo-image {

    width: 60%;
    height: auto;
}

#image-link-tag {
    margin-left: 60px;
    display: block;
    width: 300px;
}


.background-image-container {
    background-image: url("Assets/contact-img/Header_Red_Rock.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#get-to-know-us {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

#get-to-know-us-h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 6em;
    color: white;
}
.main-container {
    background-color: black;
    color: white;
    display: block;
    
}
.contact-info{
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;

    background-color: black;
    padding-right: 60px;
}
.news-text-about{
    font-size: 1.2rem;
    margin-left: 5%;
    margin-bottom: -3%;
    line-height: 1.2rem;
    letter-spacing: 1px;
}
.form-container{
    display: flex;
    background-color: #0A8CBF;
    padding: 0 15% 0 15%;
    
}
.name-container{
    display:flex;
    padding-top: 60px;
    padding-bottom: 60px;

}
#contactform{

    line-height: 1.2rem;
    width: 100%;
}
.first-name-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.first-name-input, .last-name-input{
    font-size: 1.2rem;
    width: 90%;
    height: auto;
    padding: .75rem;
    border-radius: 6px;
    border-style: none;
    align-self: center;
}
.email-input{
    font-size: 1.2rem;
    width: 95%;
    height: auto;
    padding-left: 5%;
    padding: .75rem;
    border-radius: 6px;
    border-style: none;
    align-self: center;

}
.last-name-box{
    width: 90%;
    display: flex;
    flex-direction: column; 
}
.email-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.first-name, .last-name {
    padding-bottom: 1%;
    color: white;
    padding-left: 3.2%;
}
.email{
    color: white;
    padding-bottom: 1%;
    padding-left: 1.5%;
}
.message-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.message{
    color: white;
    padding-bottom: 1%;
    padding-left: 1.5%;
}
.message-input{
    width: 95%;
    height: 200px;
    align-self: center;
    border-radius: 6px;
    border-style: none;
    padding: 1rem;
    font-size: 1.2rem;
}
.submit-button{
    margin-bottom: 60px;
    padding-left: 1.2%;
}
.submit{
    font-size: 1.2rem;
    color: white;
    background-color: black;
    padding: 1%;
    border-radius: 4px;
}
.submit:hover{
    background-color: #0A8CBF;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    background-color: black;
}

#foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: black;
    color: white;
}

#copywrite-text {
    justify-content: center;
    margin-bottom: 10px;
}

#foot-icon {
    margin: 100px;

    width: 30%;
    align-self: center;
}

#address-text {
    text-align: left;
    align-self: center;
    width: 30%;
}

#links-text2 {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    margin-right: 200px;
    width: 20%;
}

#links-text {
    line-height: 0.2;
    text-align: left;
    align-self: center;
    width: 20%;
}
