@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    
    
}
.root, h1{
    color: white;
    height: 12800px;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%, 5%;
}
.header, nav{
    padding-right: 60px;
}
li, a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
}
li,a:hover{
    color: #0A8CBF;
}
#logo-image{
    display: block;
    width: 100%;

}
#image-link-tag{
    padding-left: 60px;
    display: block;
    width: 300px;
}
.main-video{
    width: 100%;
}



@media only screen and (max-width: 1060px){

    li, a{
        font-size: 1rem;
    }

    #image-link-tag{
        padding-left: 30px;
        display: block;
        width: 150px;
    }
    .header, nav{
        padding-right: 30px;
    }
}